/********** Template CSS **********/

body {
    background-color: #ffecd7 !important;
}

.h3 {
    font-weight: normal !important
}

.addcondvi {
    height: 180px !important;
    display: flex;
    flex-direction: column;
}

.p {
    /* height: 65px !important; */
    font-size: 14px;
    margin-bottom: 10px;
}

.sabha-map {
    border: 0;
    height: 160px;
    min-width: 450px;
}

.container-xxl {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

a:hover {
    color: #FF6922;
}

:root {
    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.filtered-inclusive .filter-item,
.filtered-exclusive .filter-item,
.filter-no-item {
    display: none;
}


/* filtered-inclusive/filtered-exclusive class applied via js */

.filtered-inclusive .filter-item.selected,
.filtered-exclusive .filter-item:not(.selected) {
    display: block;
}


/* filtered-inclusive/filtered-exclusive class applied via js */

.filter-no-item.filter-no-item-active {
    /* message stating no filter results */
    display: block;
    width: 100%;
    padding: 1em 1.5em;
    margin: 0.75%;
    border-radius: 0.25rem;
    line-height: 1.2rem;
}


/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/

.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 5%);
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}

.margin-left-20 {
    margin-left: 20px;
}

.font-size-14 {
    font-size: 14px;
}

.logo {
    width: 150px;
}

.pradesh-name {
    width: 60px;
    margin: 0 auto;
}

.filter-categories {
    padding: 20px;
}

.filter-categories span input {
    display: none;
}

.filter-categories span label {
    padding: 5px 20px;
    background: #ddd;
    border-radius: 30px;
    cursor: pointer;
}

.filter-categories span input[type="radio"]:checked+label {
    background: #e18d30;
    color: #fff;
}

.contact-persons-main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10px;
    border-top: 1px dashed #ddd;
    padding-top: 10px;
}


/*   */

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

@media screen and (max-width: 768px) {
    .tab-content {
        padding: 0 10px !important;
    }
    .logo {
        width: 100px;
    }
    .img-fluid {
        width: 50px;
        height: 50px;
    }
}